%h2 Sign up for a new account
%p Signing up is easy. All we need is your email address. 

- semantic_form_for @user do |f|
  = f.error_messages
  = f.input :email

  -f.buttons do
    = f.commit_button "Sign Up!", :button_html => { :class => "submit" }
