<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="venue, venues, groups, meetup, facebook, yahoo" />
    <meta name="description" content="We help you market yourself, your skills and your abilities." />
    <title><%= @title %> | CVBeast</title>
    <%= stylesheet_link_tag "style.css" %>
  </head>

  <body>

    <div id="banner"></div> 

    <div id="page">
      <%= render :partial => 'layouts/flashes' %>
      <%= yield %>
    </div>

    <div id="footer"></div>

  </body>
</html>
